.slideshow-container1 {
  grid-column: 1;
  /* max-height: 500px; */
  max-width: 500px;
  /* width: 100%; */
  position: relative;
  margin: auto;
}

.slideshow-container2 {
  grid-column: 2;
  /* max-height: 500px; */
  max-width: 500px;
  /* width: 100%; */
  position: relative;
  margin: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: 542e71;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  /* top: 0; */
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #84a9c0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #542e71;
}

/* img {
  width: 100%;

} */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
